# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Action/.vs/
Action/Debug/
Action/Release/
Action/x64/
External/
Action/OpenGL.filters
Action/OpenGL.iobj
Action/OpenGL.ipdb
Action/OpenGL.pdb
Action/OpenGL.psess
Action/OpenGL.sln
Action/OpenGL.vcxproj
Action/OpenGL.vcxproj.filters
Action/OpenGL.vcxproj.user
Action/OpenGL190926.vspx
